extend layout
  
  block content
    h1
      Awesome Polls
    h2 Welcome to the Awesome Polls Adminstration website.
    p To access the polls, please login.
    br
    a(href="/login")
      button() Login
