doctype html
html
  head
    meta(charset="utf-8")
    title=title
    link(rel="stylesheet", href="/stylesheet/style.css")
    link(href="../node_modules/bootstrap/dist/css/bootstrap.css")
    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")
  body
    block content
